.header{
    direction: rtl;
}
.navbar>.container{
    justify-content: flex-start !important;
}
.navbar-expand-lg .navbar-collapse{
    flex: 60% 0 !important;
}
.navbar-nav{
    justify-content: space-evenly;
    flex: 100%;
}
.header-links a{
    font-weight: 400;
    font-size: 16px;
    color: #000000 !important;
}

@media only screen and (max-width: 991px) {
    .navbar>.container{
        justify-content: space-between !important;
    }
}